
<div class="container-fluid">
    <div class="row" >
      
      <div class="container rounded bg-white mt-5 mb-2" >

        <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
                <h1 class="p-3 pb-5" *ngIf="isNew">New work request</h1>
                <h1 class="p-3 pb-5" *ngIf="isNew == false">Edit work request</h1>
            </div>
         </div>
         <div class='w-100 d-flex justify-content-center '*ngIf="isLoading">
          <div class="loading-shade">
            <mat-spinner color='primary' [diameter]= "'200'" ></mat-spinner>
          </div>
        </div>
         <form [formGroup]="workRequestForm" (ngSubmit)="onSave()">
        <div class="row" >

          <div class="col-md-6">
            <div class="p-3">
              <mat-form-field >
                <mat-label>Document type</mat-label>
                <mat-select  required formControlName="documentType">
                  <mat-option *ngFor="let documentType of documentTypes" value="{{documentType.value}}">{{documentType.display}}</mat-option>
                </mat-select>
                <mat-error >
                  Please select document type.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="p-3">
              <mat-form-field class="w-100">
                <mat-label>Status</mat-label>
                <input matInput formControlName="status">
              </mat-form-field>
            </div>
           </div>
        </div>

        
        <div class="row" >
          <div class="col-md-6">
            <div class="p-3 d-flex flex-row">
              <mat-form-field >
                <mat-label>Incident</mat-label>
                <input matInput formControlName="incident" required readonly>
                <mat-error >
                  Please select related incident.
                </mat-error>
              </mat-form-field>
              <a (click)="onChooseIncident()" class="clickable pl-1 pt-3">
                <mat-icon >more_horiz</mat-icon>
              </a>
            </div>
          </div>
  
            <div class="col-md-6">
              <div class="p-3 d-flex flex-row mt-3">
                <mat-checkbox formControlName="emergency" color="primary" >Emergency</mat-checkbox>
              </div>
            </div>
        </div>


        <div class="row" >
            <div class="col-md-6">
              <div class="p-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Start date/time</mat-label>
                    <input matInput [matDatepicker]="startTime" formControlName="startDate" required>
                    <mat-datepicker-toggle matSuffix [for]="startTime" class="date-picker-image"></mat-datepicker-toggle>
                    <mat-datepicker #startTime></mat-datepicker>
                    <mat-error *ngIf="workRequestForm.hasError('invalidDates', 'startDate')">
                      Start date is required, must be in the future and before end date.
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="p-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>End date/time</mat-label>
                    <input matInput [matDatepicker]="endTime" formControlName="endDate" required>
                    <mat-datepicker-toggle matSuffix [for]="endTime" class="date-picker-image"></mat-datepicker-toggle>
                    <mat-datepicker #endTime></mat-datepicker>
                    <mat-error *ngIf="workRequestForm.hasError('invalidDates', 'endDate')">
                      End date is required and must be after start date.
                    </mat-error>
                  </mat-form-field>
                  
              </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-6">
              <div class="p-3">
                <mat-form-field class="w-100">
                    <mat-label>Company</mat-label>
                    <input matInput placeholder="Specify company that will handle outage" formControlName="companyName" value="">
                    <mat-error *ngIf="workRequestForm.hasError('maxlength', 'companyName')">
                      Company name must not exceed 50 characters.
                    </mat-error>
                  </mat-form-field>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="p-3">
                <mat-form-field class="w-100">
                  <mat-label>Phone number</mat-label>
                  <input matInput placeholder="Specify phone number of consumer who reported outage" formControlName="phone" value="">
                  <mat-error *ngIf="workRequestForm.hasError('maxlength', 'phone')">
                    Phone number must not exceed 30 characters.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
        </div>
  
        <div class="row" >
            <div class="col-md-12">
              <div class="p-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Created on</mat-label>
                    <input formControlName="createdOn" matInput [matDatepicker]="createdTime">
                    <mat-datepicker-toggle matSuffix [for]="createdTime" class="date-picker-image"></mat-datepicker-toggle>
                    <mat-datepicker #createdTime></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
  
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="p-3">
                    <mat-form-field class="w-100">
                        <mat-label>Created by</mat-label>
                        <input matInput formControlName="createdBy">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3">
                    <mat-form-field class="w-100">
                        <mat-label>Purpose</mat-label>
                        <input matInput formControlName="purpose" placeholder="Specify work plan purpose" value="" required>
                        <mat-error *ngIf="workRequestForm.hasError('required', 'purpose')">
                          Please specify purpose.
                        </mat-error>
                        <mat-error *ngIf="workRequestForm.hasError('maxlength', 'purpose')">
                          Purpose must not exceed 100 characters.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
                <div class="p-3">
                    <mat-form-field class="w-100">
                        <mat-label>Details</mat-label>
                        <textarea matInput formControlName="details" placeholder="Explain in depth what will be done"></textarea>
                        <mat-error>
                          Notes must not exceed 100 characters.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3">
                    <mat-form-field class="w-100">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="note" placeholder="Add additional info that will help"></textarea>
                        <mat-error>
                          Notes must not exceed 100 characters.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
         </div>

         <div class="row mb-2">
          <div class="col-md-12">
            <div class="p-3">
              <button type="submit" class="button-add w-100 mr-auto">Save changes</button>
            </div>
          </div>
         </div>

      </form>


      </div>
    </div>
  </div>


