.wrapper-incident {
  background: white;
  width: 70%;
  margin-left: 15%;
}

.date-picker-image {
  font-size: 25px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  width: 22px;
  height: 22px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  width: 22px;
  height: 22px;
}

.button-add {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: 100%;
  padding: 4pt 0 4pt 0;
  margin-left: 20px;
}

.save-button {
  text-align: right;
}

.button-add:hover {
  background-color: black; /* Green */
  color: white;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
}
input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: -10px;
}

@media only screen and (max-width: 1080px) {
  .button-add {
    width: 30%;
  }
}

@media only screen and (max-width: 780px) {
  .save-button {
    text-align: center;
  }

  .button-add {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .save-button {
    text-align: center;
  }
}
