
<div class="container-fluid p-3 m-1">
    <div class="row" >
        <div class="container rounded bg-white mt-5">
            <div class="row">
                <div class="col text-center">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                       <h1>Reset settings</h1>
                        <p>Do you really want to reset settings to default ?!</p>
                    </div>
                    <div class="save-button mb-5">
                        <button (click)="onReset()" class="button-add reset-btn">Reset settings</button>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>