




	<ul class="nav justify-content-end">
		<li class="nav-item mr-auto">
			
			 <a [routerLink]="['']" class="nav-link active navbar_li_link" >Home</a>
			</li>
		<li class="nav-item">
		  

			<a (click)="activateRegister()" class="nav-link navbar_li_link" data-toggle="modal" data-target="#registrationModalCenter">Register</a>
		  
		</li>
		<li class="nav-item">
		  <a (click)="activateLogin()" class="nav-link navbar_li_link" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
		</li>
		
	</ul>




