<div class="container-fluid">
    <div class="row" >
      <div class="container rounded bg-white mt-5 mb-3">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
                <h1 class="p-3 pb-5">State change history</h1>
            </div>
         </div>
         
         <div class='w-100 d-flex justify-content-center'*ngIf="isLoading">
            <mat-spinner color='primary' [diameter]= "'100'" ></mat-spinner>
        </div>

          <div class="row" *ngFor="let stateChange of stateChanges">
              <div class="col-md-12">
                  <app-state-change [stateChange]="stateChange"></app-state-change>
              </div>
          </div>

        <div class="row">
            <div class="col-md-4">
                <button (click)="cancel()" class="button-add w-100" mat-button>Cancel</button>
            </div>

            <div class="col-md-4">
                <button (click)="approve()" class="button-add  w-100" mat-button>Approve</button>
            </div>

            <div class="col-md-4">
                <button (click)="deny()" class="button-add  w-100" mat-button>Deny</button>
            </div>
        </div>

      </div>
    </div>
</div>

