.change-pw{
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    width: 40%;
    border: 3px solid white;
    padding: 10px;
}

.change-btn {
    width: 20%;
}

@media only screen and (max-width: 1340px) {
    .change-btn {
        width: 30%;
    }

    .change-pw {
        width: 60%;
    }
    
}