
<div class="container-fluid p-3 m-1">
    <div class="row mt-10">
        <div class="container rounded bg-white change-pw">
            <h1 class="mb-5">Change password</h1>
            <div class="row mb-5">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Current password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
             </div>

             <div class="row mb-2">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>New password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
             </div>

             <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm new password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
             </div>

             <div class="mt-4">
                <button class="button-add change-btn">Change password</button>                       
            </div>
          
        </div>
    </div>
</div>