
  <div class="container-fluid p-3 m-1 pr-4" *ngIf="isLoading == false">
      <div class="mat-elevation-z8 mt-4">
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>more_vert</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input> 
            </mat-form-field>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Filter</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 pt-3 d-flex justify-content-center">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">All</mat-radio-button>&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="2">Only mine</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-md-4 pb-3 d-flex justify-content-end"> 
            <button [routerLink]="['/work-plan']" class="button-add pt-2 d-flex justify-content-center"><mat-icon>add</mat-icon></button> 
          </div>
        </div>
      </mat-expansion-panel>
    </div>  
      <div class="row"> 
      <div class="col-md-12">
        <div class="mat-elevation-z8 mt-n1 table-responsive">
          <table mat-table [dataSource]="dataSource" matSort> 
        
            <!-- ID Column -->
            <ng-container matColumnDef="id" sticky>
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <!--Change this-->
              <td mat-cell *matCellDef="let row"><a [routerLink]="['']"><mat-icon>edit</mat-icon></a><a [routerLink]="['/dashboard']"><mat-icon>delete</mat-icon></a></td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="incident">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Incident </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <ng-container matColumnDef="street">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- Start Date collumn -->
            <ng-container matColumnDef="startdate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- End Date collumn -->
            <ng-container matColumnDef="enddate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> End date</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- Created by collumn -->
            <ng-container matColumnDef="createdby">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- End Date collumn -->
            <ng-container matColumnDef="emergency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Emergency</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- Company collumn -->
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Company</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- Phone no collumn -->
            <ng-container matColumnDef="phoneno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone number</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>

            <!-- Creation date collumn -->
            <ng-container matColumnDef="creationdate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. 
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching "{{input.value}}"</td>
            </tr>-->
          </table>
        </div> 
          <div class="row">
            <div class="col-md-12 mt-0 ">
              <div class="mat-elevation-z8">
                <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator> 
              </div>
            </div>
          </div>
      </div>
    </div>