

    
  <div class='w-100 d-flex justify-content-center '*ngIf="isLoading" style="margin-top: 50%;">
    <div class="loading-shade">
      <mat-spinner color='primary' [diameter]= "'200'" ></mat-spinner>
    </div>
  </div>

<div class="container-fluid p-3 m-auto pr-4 table-container" [hidden]="isLoading">

  <ng-template [ngIf]="incidentCrew != null && incidentCrew != undefined">

    <h3>Current crew assigned to incident</h3>
    <div class="row mb-3 p-3"> 
      <div class="col-md-2"  style="background-color:white">
        {{incidentCrew.id}}
      </div>

      <div class="col-md-3"  style="background-color:white">
        {{incidentCrew.crewName}}
      </div>

      <div class="col-md-5"  style="background-color:white">
      
          <span *ngFor="let member of incidentCrew.crewMembers">{{member.name}}&nbsp;{{member.lastname}}, </span>
        
      </div>

      <div class="col-md-2"  style="background-color:white">
        <a role="button" (click)="removeCrewFromIncidet()" ><mat-icon matTooltip="Unassign crew from incident" color="warn">remove</mat-icon></a>
      </div>
    </div>

  </ng-template>
    <div class="row"> 
    <div class="col-md-12">
      <div class="mat-elevation-z8 mt-n1 table-responsive">
        <table mat-table [dataSource]="filteredAndPagedCrews" matSort
        matSortActive="crewName" matSortDisableClear matSortDirection="asc"
        (matSortChange)="resetPaging()"> 
      
          <!-- ID Column -->
          <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <!--Change this-->
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="crewName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.crewName}} </td>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="members">
            <th mat-header-cell *matHeaderCellDef> Members </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color">
                 <ul style>
                     <li *ngFor="let member of row.crewMembers">{{member.name}}&nbsp;{{member.lastname}}</li>
                 </ul>
            </td>
          </ng-container>


          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let row">  <a role="button" (click)="addCrewToIncident(row.id)"><mat-icon matTooltip="Assign this crew to incident" color="primary">add</mat-icon></a>   </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data to display</td>
          </tr>
        </table>
      </div> 
        <div class="row">
          <div class="col-md-12 mt-0 ">
            <div class="mat-elevation-z8">
              <mat-paginator [pageSizeOptions]="[1, 3, 5, 10, 15, 20, 25, 30]"></mat-paginator> 
            </div>
          </div>
        </div>
    </div>
